<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    
    
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img alt="background-profile" src="../assets/img/bg1.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img alt="avatar-profile" class="avatar border-gray" src="../assets/img/profile-2.jpg" alt="...">
              <h5 class="title">Ellen Pompeo</h5>
            </a>
            <p class="description">
              Grey's Anatomy
            </p>
          </div>
          <p class="description text-center">
            "Esto es Hollywood.
            <br> Las personas no admiten errores".
            
          </p>
        </div>
        <hr>
        <div class="button-container" (click)= "consulta1()">
          <button  class=" btn btn-info btn-round btn-lg" >
            Cotizar servicios de cirugía
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img alt="background-profile" src="../assets/img/bg1.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img alt="avatar-profile" class="avatar border-gray" src="../assets/img/profile-3.jpg" alt="...">
              <h5 class="title">Hugh Laurie</h5>
            </a>
            <p class="description">
              Dr. House
            </p>
          </div>
          <p class="description text-center">
            "Gánate el respeto de los demás,
            <br> teniendo la osadia de ser tu mismo."
          </p>
        </div>
        <hr>
        <div class="button-container" (click)= "consulta3()">
          <button  class=" btn btn-info btn-round btn-lg">
            Cotizar servicios de cirugía
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img alt="background-profile" src="../assets/img/bg1.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img alt="avatar-profile" class="avatar border-gray" src="../assets/img/profile-1.jpg" alt="...">
              <h5 class="title">Freddie Highmore</h5>
            </a>
            <p class="description">
              The Good Doctor
            </p>
            <p class="description text-center">
              "La honestidad es la mejor política"
              <br>
            </p>
          </div>
        </div>
        <hr>
        <div class="button-container" (click)= "consulta2()">
          <button  class=" btn btn-info btn-round btn-lg">
            Cotizar servicios de cirugía
          </button>
          
        </div>
      </div>
    </div>

  </div>
</div>
